# .env.example - copy to .env and edit for local dev
DJANGO_SETTINGS_MODULE=iot_platform.settings
SECRET_KEY=jFORVwYc-8j2kB36Ak0yS5P03WCbsy5Vs8GfdTi35SYvzRJ05A2vKPTvJmfSyr62
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=heat_exchanger_db
POSTGRES_USER=heatuser
POSTGRES_PASSWORD=heatpass

DATABASE_URL=postgres://heatuser:heatpass@db:5432/heat_exchanger_db

